[package]
name = "asn1rs"
version = "0.1.13"
authors = ["Michael Watzko <michael@watzko.de>"]
edition = "2018"
description = "ASN.1 to Rust, Protobuf and SQL compiler/code generator. Supports ASN.1 UPER"
keywords = ["asn1", "uper", "protobuf", "sql", "compiler"]
categories = ["encoding", "parsing"]
repository = "https://github.com/kellerkindt/asn1rs"
license = "MIT/Apache-2.0"
readme = "README.md"


[lib]
name = "asn1rs"
path = "src/lib.rs"

[[bin]]
name = "asn1rs"
path = "src/main.rs"


[dependencies]
backtrace = "0.3.9"
clap = "2.32.0"
codegen = "0.1.0"
byteorder = "1.2.4"

postgres = { version = "0.15.2", optional = true }


[features]
default = []
psql = ["postgres"]
legacy_bit_buffer = []

[[bench]]
name = "bitbuffer"
path = "benches/bitbuffer.rs"
required-features = ["legacy_bit_buffer"]
